<a href="https://colab.research.google.com/github/Srieswari/CuisinePred/blob/main/Cuisine_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fasttext
import fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.8/68.8 kB 6.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pybind11>=2.2 (from fasttext)
  Using cached pybind11-2.10.4-py3-none-any.whl (222 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from fasttext) (67.7.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fasttext) (1.22.4)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp310-cp310-linux_x86_64.whl size=4393445 sha256=d2462b6b9dfdac6d0042ee9ce81d2581127627aa72397920a1897768a53dd64c
  Stored in directory: /root/.cache/pip/wheels/a5/13/75/f811c84a8ab36eedbaef977a6a58a98990e8e0f1967f98f394
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.4

In [ ]:
# !wget https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz

In [ ]:
# !gunzip cc.en.300.bin.gz

In [ ]:
# model_en = fasttext.load_model("cc.en.300.bin")
# model_en.get_nearest_neighbors('good')

In [ ]:
# model_en.get_nearest_neighbors("saragva")

In [ ]:
import pandas as pd

run the following cell to directly read data from git

In [ ]:
url = 'https://raw.githubusercontent.com/Srieswari/NLP/main/indian_food.csv'
df = pd.read_csv(url)
print(df.shape)
df.head(3)

(5937, 9)

,TranslatedRecipeName,TranslatedIngredients,TotalTimeInMins,Cuisine,TranslatedInstructions,URL,Cleaned-Ingredients,image-url,Ingredient-count
0,Masala Karela Recipe,"1 tablespoon Red Chilli powder,3 tablespoon Gr...",45,Indian,"To begin making the Masala Karela Recipe,de-se...",https://www.archanaskitchen.com/masala-karela-...,"salt,amchur (dry mango powder),karela (bitter ...",https://www.archanaskitchen.com/images/archana...,10
1,Spicy Tomato Rice (Recipe),"2 teaspoon cashew - or peanuts, 1/2 Teaspoon ...",15,South Indian Recipes,"To make tomato puliogere, first cut the tomato...",https://www.archanaskitchen.com/spicy-tomato-r...,"tomato,salt,chickpea lentils,green chilli,rice...",https://www.archanaskitchen.com/images/archana...,12
2,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,"1 Onion - sliced,1 teaspoon White Urad Dal (Sp...",50,South Indian Recipes,"To begin making the Ragi Vermicelli Recipe, fi...",https://www.archanaskitchen.com/ragi-vermicell...,"salt,rice vermicelli noodles (thin),asafoetida...",https://www.archanaskitchen.com/images/archana...,12

here we can see that the pretrained model was not helping in getting similar words for a food item , so we can train our model according to our requirement

In [ ]:
# df = pd.read_csv("/content/indian_food.csv")
# print(df.shape)
# df.head(3)

In [ ]:
columns=['Cuisine','TranslatedInstructions']
df=df[columns]

In [ ]:
import re
def preprocess(text):
    text = re.sub(r'[^\w\s\']',' ', text)
    text = re.sub(r'[ \n]+', ' ', text)
    return text.strip().lower()

In [ ]:
df.TranslatedInstructions[0]

'To begin making the Masala Karela Recipe,de-seed the karela and slice.\nDo not remove the skin as the skin has all the nutrients.\nAdd the karela to the pressure cooker with 3 tablespoon of water, salt and turmeric powder and pressure cook for three whistles.\nRelease the pressure immediately and open the lids.\nKeep aside.Heat oil in a heavy bottomed pan or a kadhai.\nAdd cumin seeds and let it sizzle.Once the cumin seeds have sizzled, add onions and saute them till it turns golden brown in color.Add the karela, red chilli powder, amchur powder, coriander powder and besan.\nStir to combine the masalas into the karela.Drizzle a little extra oil on the top and mix again.\nCover the pan and simmer Masala Karela stirring occasionally until everything comes together well.\nTurn off the heat.Transfer Masala Karela into a serving bowl and serve.Serve Masala Karela along with Panchmel Dal and Phulka for a weekday meal with your family.\n'

In [ ]:
df.TranslatedInstructions = df.TranslatedInstructions.map(preprocess)

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
def preprocess1(text):
    doc = nlp(text)
    return " ".join([token.lemma_ for token in doc if not token.is_stop])

In [ ]:
df.TranslatedInstructions  = df.TranslatedInstructions.map(preprocess1)

In [ ]:
df.TranslatedInstructions[0]

'begin make masala karela recipe de seed karela slice remove skin skin nutrient add karela pressure cooker 3 tablespoon water salt turmeric powder pressure cook whistle release pressure immediately open lid aside heat oil heavy bottomed pan kadhai add cumin seed let sizzle cumin seed sizzle add onion saute till turn golden brown color add karela red chilli powder amchur powder coriander powder besan stir combine masala karela drizzle little extra oil mix cover pan simmer masala karela stir occasionally come turn heat transfer masala karela serve bowl serve serve masala karela panchmel dal phulka weekday meal family'

In [ ]:
df1=df['Cuisine'].value_counts()

In [ ]:
droplist = df1[df1 <= 10].index

In [ ]:
df = df[~df['Cuisine'].isin(droplist)]

In [ ]:
df['Cuisine'].value_counts()

Continental                 952
Indian                      927
North Indian Recipes        763
South Indian Recipes        557
Italian Recipes             231
Maharashtrian Recipes       152
Bengali Recipes             150
Karnataka                   138
Tamil Nadu                  133
Kerala Recipes              133
Fusion                      130
Mexican                     116
Andhra                      109
Rajasthani                   99
Gujarati Recipes﻿            96
Goan Recipes                 85
Asian                        67
Chettinad                    65
Thai                         63
Punjabi                      61
Chinese                      56
French                       53
Middle Eastern               49
Mangalorean                  45
Kashmiri                     44
Indo Chinese                 43
Parsi Recipes                36
Awadhi                       33
Konkan                       32
Sindhi                       30
Mediterranean                28
Assamese                     28
Hyderabadi                   26
Oriya Recipes                26
Mughlai                      25
Bihari                       25
European                     20
African                      18
North East India Recipes     17
Greek                        16
Himachal                     15
Udupi                        15
North Karnataka              14
Coorg                        14
Sri Lankan                   14
Japanese                     13
Coastal Karnataka            12
Uttar Pradesh                12
Vietnamese                   11
Malabar                      11
Lucknowi                     11
Name: Cuisine, dtype: int64

In [ ]:
len(df['Cuisine'].unique())

51

after removing the cusines which didnt had enough recipes also we got 5800 recipes with 51 cuisines do lets try to put these cuisines into major 4-5 categories

In [ ]:
df['MajorCuisine'] = df['Cuisine'].replace(['South Indian Recipes','Karnataka','Tamil Nadu','Kerala Recipes','Andhra','Chettinad','Malabar','Mangalorean','Konkan','Hyderabadi','Coorg','Coastal Karnataka'], 'SouthIndian') \
.replace(['North Indian Recipes','Maharashtrian Recipes','Bengali Recipes','Rajasthani','Gujarati Recipes﻿','Punjabi','Kashmiri','Assamese','Lucknowi','Uttar Pradesh','Himachal','Udupi','North Karnataka','North East India Recipes','Bihari','Oriya Recipes','Sindhi','Awadhi','Mughlai'],'NorthIndian') \
.replace(['Continental','European','Italian Recipes','French,Greek'],'Continental') \
.replace(['Fusion','Indo Chinese'],'Fusion') \
.replace(['Asian','Chinese','Japanese'],'Asian') \
.replace(['Indian','Goan Recipes','Parsi Recipes'],'Indian')

<ipython-input-64-57e37675e75f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MajorCuisine'] = df['Cuisine'].replace(['South Indian Recipes','Karnataka','Tamil Nadu','Kerala Recipes','Andhra','Chettinad','Malabar','Mangalorean','Konkan','Hyderabadi','Coorg','Coastal Karnataka'], 'SouthIndian') \

In [ ]:
df

,Cuisine,TranslatedInstructions,MajorCuisine
0,Indian,begin make masala karela recipe de seed karela...,Indian
1,South Indian Recipes,tomato puliogere cut tomato mixer grinder pure...,SouthIndian
2,South Indian Recipes,begin make ragi vermicelli recipe steam ragi v...,SouthIndian
3,Andhra,begin make gongura chicken curry recipe prep i...,SouthIndian
4,Andhra,andhra style alam pachadi heat oil pan add len...,SouthIndian
...,...,...,...
5932,Indian,begin make saffron paneer peda recipe paneer r...,Indian
5933,Italian Recipes,begin make italian arancini rice ball recipe c...,Continental
5934,Indian,begin make quinoa phirnee recipe place saucepa...,Indian
5935,Andhra,begin make ullikadala pulusu recipe spring oni...,SouthIndian
5936,Kashmiri,begin make kashmiri kokur yakhni recipe wash c...,NorthIndian

In [ ]:
len(df.MajorCuisine.unique())

15

In [ ]:
df.to_csv("food_receipes.txt", columns=["TranslatedInstructions"], header=None, index=False)

In [ ]:
model = fasttext.train_unsupervised("food_receipes.txt")

In [ ]:
model.get_nearest_neighbors("saragva")

[(0.9150944948196411, 'agathi'),
 (0.8901234269142151, 'tuvar'),
 (0.8738939762115479, 'phanu'),
 (0.8686066269874573, 'phalguni'),
 (0.8612421751022339, 'fansi'),
 (0.8560946583747864, 'saagu'),
 (0.8516809344291687, 'shaak'),
 (0.8477616310119629, 'sukhi'),
 (0.847454845905304, 'chawli'),
 (0.8452074527740479, 'kulith')]

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(df['TranslatedInstructions'], df['MajorCuisine'], test_size=0.33, random_state=42)

In [ ]:
train_data=pd.DataFrame()
test_data=pd.DataFrame()

In [ ]:
train_data["xtrain"] = xtrain.values
train_data["ytrain"] = ytrain.values
test_data["xtest"] = xtest.values
test_data["ytest"] = ytest.values

In [ ]:
train_data[['xtrain', 'ytrain']].to_csv('train.txt',
                                          index = False,
                                          sep = ' ',
                                          header = None,
                                          escapechar = " ")

In [ ]:
test_data[['xtest', 'ytest']].to_csv('test.txt',
                                          index = False,
                                          sep = ' ',
                                          header = None,
                                          escapechar = " ")

In [ ]:
with open('train.txt', 'w', encoding='utf-8') as file:
    for _, row in df.iterrows():
        label = '__label__' + row['MajorCuisine']
        text = row['TranslatedInstructions']
        line = f"{label} {text}"
        file.write(line + '\n')

In [ ]:
with open('test.txt', 'w', encoding='utf-8') as file:
    for _, row in df.iterrows():
        label = '__label__' + row['MajorCuisine']
        text = row['TranslatedInstructions']
        line = f"{label} {text}"
        file.write(line + '\n')

In [ ]:
model = fasttext.train_unsupervised('train.txt', wordNgrams = 2)

In [ ]:
model = fasttext.train_supervised(input="train.txt", epoch=50)
# model.save_model('text_classification_model.bin')

In [ ]:
model1 = fasttext.train_supervised(input="train.txt", lr=0.1, epoch=25, dim=100)

In [ ]:
result = model.test("test.txt")
print("Test Accuracy:", result)

Test Accuracy: (0, nan, nan)

In [ ]:
# model.test('test.txt')

In [ ]:
# model.predict(test_data.iloc[2, 0])
# test_data.iloc[2,0]

In [ ]:
model.predict(test_data.iloc[2, 0])